p{
  margin-top: 0;
  margin-bottom: 0;
}

.youtube-exercise{
  
  padding-top: 80px;
  padding-left: 94px;
  padding-right: 20px;
  background-color: rgb(248,248,248);
}
body{
 
  font-family: Roboto,Arial;
}