.header {
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position:fixed;
  left: 0;
  right: 0;
  top:0;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-color:rgb(207, 201, 201);
  background-color: white;
  z-index:100;

}

.left-header {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-header { 
  display:flex;
  width: 470px;
  max-width: 470px;
  margin-left: 60px;
}
.search-box{
  width: 0px;
  flex:1;
  
  padding-left: 12px;
  font-size: 16px;
  border: 0.6666667px solid rgb(204, 204, 204);
  background-color: white;
  border-top-left-radius:2px;
  border-bottom-left-radius: 2px;
  box-shadow:inset 0px 1px 0px rgb(0,0,0,0.06) ;
  
  
}
input:focus{
  border:1px solid rgb(3, 3, 191);
  outline:none;
 
}
.search-box::placeholder{
  
  font-size: 16px;
 
}
.search-button{
  height: 40;
  width:64px;
  background-color: rgb(247, 247, 247);
  border-width: 1px;
  border-style: solid;
  border-color:rgb(192,192,192); 
  margin-left: 0px;
  margin-right: 8px;
  border-left-width:0;

}
.voice-search-button,
.search-button,
.upload-icon-container,
.youtube-icon-container,
.notification-icon-container{
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;

 cursor:pointer;
}
.search-button .tooltip, 
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-icon-container .tooltip,
.notification-icon-container .tooltip{
  background-color: gray;
  color:white;
  position:absolute;
  padding-left:8px;
  padding-right:8px;
  padding-top:4px;
  padding-bottom:4px;
  border-radius:2px;
  font-size:12px;
  bottom:-30px;
  opacity:0;
  transition:opacity 0.15s;
  pointer-events:none;
  white-space:nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
  opacity:1;
}

.search-icon{
  height:24px;
}
.voice-search-button{
  height:40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245,245,245);

}
.voice-search-icon{
  height: 24px;
}

.right-header {
  flex-shrink: 0;
  width: 182px;
  display:flex;
  align-items: center;
  margin-left: 29px;
  margin-right: 24px;
  justify-content: space-between;
}
.upload-icon{
  height:24px;
}
.youtube-icon{
  height: 24px;

}
.notification-icon-container{
  position:relative;
}
.notification-count{
  background-color:rgb(216, 1, 1);
  color:white;
 
  font-weight:500;
  font-size:10px;
 
  border-radius:10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;

  position:absolute;
  top:-1px;
  right:-4px;
}
.notifications-icon{
  height:24px;
}
.current-user-picture{
  height:32px;
  border-radius: 16px;
  cursor:pointer;
}