
@media(max-width:865px){
  .sidebar{
    position:fixed;
    background-color: white;
    top:55px;
    bottom:0;
    left:0;
    width:72px;
    padding-top: 6px;
    z-index:200;
  }
  .sidebar-link{
    display:flex;
    justify-content: center;
    align-items: center;
    height:74px;
    flex-direction: column;
    cursor:pointer;
    
  }
  .sidebar-link:hover{
    background-color: lightgray;
  }
  .sidebar-link img{
    height:24px;
    margin-bottom: 6px;
  }
  .sidebar-link div{
    
    font-size: 10px;
  }
}
@media(min-width:866px){
  .sidebar{
    position:fixed;
    background-color: white;
    top:55px;
    bottom:0;
    left:0;
    max-width:500px;
    padding-top: 6px;
    z-index:200;
    display:flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 50px;
    row-gap: 10px;
  }
  .sidebar-link{
    display:flex;
    justify-content: left;
    align-items: center;
    
    flex-direction: row;
    cursor:pointer;
    column-gap:20px;
    
  }
  .sidebar-link:hover{
    background-color: lightgray;
  }
  .sidebar-link img{
    height:24px;
    margin-bottom: 6px;
  }
  .sidebar-link div{
    
    font-size: 10px;
  }
  .youtube-exercise{
  
   
    padding-left: 200px;
    
  }

}