
@media(max-width:865px){
  .sidebar{
    position:fixed;
    background-color: white;
    top:55px;
    bottom:0;
    left:0;
    width:72px;
    padding-top: 6px;
    z-index:200;
  }
  .sidebar-link{
    display:flex;
    justify-content: center;
    align-items: center;
    height:74px;
    flex-direction: column;
    cursor:pointer;
    
  }
  .sidebar-link:hover{
    background-color: lightgray;
  }
  .sidebar-link img{
    height:24px;
    margin-bottom: 6px;
  }
  .sidebar-link div{
    
    font-size: 10px;
  }
}
@media(min-width:866px){
  .sidebar{
    position:fixed;
    background-color: white;
    top:55px;
    bottom:0;
    left:0;
    width:240px;
    padding-top: 13px;
    z-index:200;
   
  
  }
  .sidebar-link{
    display:flex;
    align-items: center;
    cursor:pointer;
    padding:8px 24px;
    
  }
  .sidebar-link:hover{
    background-color: lightgray;
  }
  .sidebar-link img{
    height:24px;
    margin-right: 24px;
  }
  .sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
  }
  .youtube-exercise{
  
   
    padding-left: 268px;
    
  }

}